<footer class="footer">
  <small>
    Produced by NEXTRIYA INC.
  </small>
  <nav>
    <ul>
      <li><a href="http://www.nextriya.com/">About</a></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>